[MASTER]

ignore=tests

[MESSAGE CONTROL]

disable=raw-checker-failed,
        bad-inline-option,
        consider-using-enumerate,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        unspecified-encoding,
        line-too-long,
        missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring,
        anomalous-backslash-in-string,
        fixme

[BASIC]

module-rgx=(^[a-z]+(_[a-z]+)*)|(^[A-Z][a-zA-Z]*Library)